$color-background: #1e2a33;// DEFAULT BACKGROUND
$color-main: #B91A1F;// OVERLAY COLOR
$color-active: #FFF;// DEFAULT ACTIVE LINK COLOUR
$color-link: #FFF;// DEFAULT LINK COLOUR

$dark-blue: #3a4955;// MAIN BLUE FOR BUTTON HOVERS
$light-blue: #5a6c7a;// LIGHTER BLUE FOR BUTTONS
$flo-blue: #00ffff;// FLUORESCENT BLUE FOR LINKS AND HEADERS

/*
 * sets html font 
 * and text alignment
 */
html {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
/*
 * defines the row class
 * and makes content full screen
 */
.row {
	width: 100%;
	margin: 0 auto;
}

/*
 * defines what happens 
 * after the row class
 * with no floating elements
 */
.row:after {
	content: '';
	display: table;
	clear: both;
}
/*
 * defines the column class
 * and makes content float left
 * width and height includes
 * content padding and border
 */
.column {
	float: left;
	box-sizing: border-box;
}

/*
 * defines the body tag
 * adds padding to the bottom, a
 * default background and maximum width
 * of 900px
 */
body {
	margin: 0 auto;
	background: $color-background;
	padding-bottom: 3.3em;
}


/************** Navigation **************/
/*
 * Fixes nave to the bottom of the page
 * and aligns it in-front of other content
 */
nav {
	position: fixed;
	bottom: 0;
	z-index: 100;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
}
/*
 * Removes the padding from the list
 */
ul {
	padding: 0;
}

/*
 * defines the list item tag in the nav
 * to display in a sinlge line, their background
 * ,padding font colour margin and border
 */
ul li {
    float: left;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 0 0;
    text-decoration: none;
    text-align: center;
    background-color: $light-blue;
    margin: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    border-right: 1px solid #aaa;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*
 * defines the padding and width of
 * each link
 */
li a {
	display: inline-block;
	padding: 20px 0;
	width: 100%;
	font-size: 13px;
}

/*
 * disables blue focus around links
 */
li a:focus {
	outline: 0;
}
/*
 * Adds the darkblue color to the nav on hover
 */
li a:hover {
	background-color: $dark-blue;
}
/*
 * fixes the nav link colour and visited colour
 */
li a:link, a:visited {
	color: #fff;
	text-decoration: none;
}
/*
 * Sets the current link to dark blue
 */
.current {
	background-color: $dark-blue;
}

/*
 * Sets the current tab to dark blue
 */
.navActive {
	background-color: $dark-blue;
}

/*
 * removes border from final item in the list
 */
ul li:last-child {
	border: none;
}


/******** Home Header ********/

/*
 * Sets font, font size and colour of each heading
 */
h1, h2, h3, h4 {
	font-family: 'Economica', sans-serif;
	color: $flo-blue;
	font-size: 4.6em;
	font-weight: 100;
	margin: .2em 1em .1em 1em;
}

/*
 * Resets the font size of h2
 */
header h2.minor {
	font-size: 2em;
	color: #fff
}


/******** Main Content ********/

/*
 * the Main tags margin and padding is set
 * any overflow is hidden as well as font margin
 */
main.container {
	color: #fff;
	margin: 0 auto;
	margin: 2em 0;
	padding: 0;
	overflow: hidden;
}


main.project {
	margin: 0;
}

main.project h4 {
	margin-top: .3em;
}
/*
 * Links in the project div are given new colour
 * with a border the is initially transparent
 * that transitions into view on hover
 */
.project a {
	color: $flo-blue;
	text-decoration: none;
  	border-bottom: 1px solid transparent;
  	transition: all ease-in-out .2s;
}

.project a:hover {
	color: $flo-blue;
	border-color: $flo-blue;
}


/*
 * font size and margin of h2,
 * h3 and h4 tags are reset
 */
h2.lf, h2.mass {
	font-size: 3em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0; 
}

main h3 {
	font-size: 1.9em;
	margin-bottom: 1em;
	color: #fff
}

h4 {
	font-size: 1.7em;
	margin: 0 0 .7em;
}

/*
 * colour within div is set
 * headings gven different colour
 */
.lf {
	color: #28bdB3;
}
h4.mass, h2.mass {
	color: #e64148;
}

/*
 * margin in main div and footer are set
 */
.in, .in-footer {
	margin: 0 1em;
	overflow: hidden;
}

/*
 * p tag in main div given new font
 * also aligned to the left
 */
.in p {
	text-align: left;
	font-size: 1.3em;
	font-family: 'Alegreya Sans', sans-serif;
}

/*
 * main div on project pages given border
 * box shadow and border radius
 */
.lpg {
	border: 1px solid $flo-blue;
	padding: 0 1em;
	margin-bottom: 1em;
	-webkit-box-shadow: 0 0 17px 0 #000;
	-moz-box-shadow: 0 0 17px 0 #000;
	box-shadow: 0 0 17px 0 #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/*
 * p tag in main div given new font
 * also increased font size and line height
 */
.lpg p {
	font-size: 1.2em;
	line-height: 1.3em;
	font-family: 'Alegreya Sans', sans-serif;
}

/*
 * aligns heding to the left
 */
.lpg h4 {
	text-align: left;
}
/*
 * gives img a margin
 */
.lpg img {
	margin-bottom: .5em;
}
/*
 * reduces the size of the image
 */
.lpg img.form {
	max-width: 80%;
}

/*
 * p heading given new colour
 */
.in p strong {
	color: #c4bda8;
}
/*
 * Aligns text to center and reduces margin
 */
.in p.more {
	text-align: center;
	margin-bottom: 0;
}

/*
 * Links in the main div are given new colour
 * with a border the is initially transparent
 * that transitions into view on hover
 */
.in p a {
	color: $flo-blue;
	text-align: center;
	text-decoration: none;
  	border-bottom: 1px solid transparent;
  	transition: all ease-in-out .2s;
}

.in p a:hover {
	color: $flo-blue;
	border-color: $flo-blue;
}

.in p a:visited {
	color: $flo-blue;
}

/*
 * final p tag given margin
 */
p.end {
	margin-bottom: 2.5em;
}

/*
 * defines how the image acts
 * including the height width and margin
 */	
img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-width: 45px;
	overflow: hidden; 
}

embed {
	padding-bottom: 1em;
}


/******** About Page ********/
p.skill {
	font-size: 1.2em;
	margin-top: .3em;
	margin-bottom: .3em;
}

p.sub {
	font-size: 1.1em;
	margin-top: .3em;
	margin-bottom: .3em;
}

/******** Footer ********/
/*
 * main footer div is given background colour
 * with a border the is initially transparent
 * that transitions into view on hover
 */
 // footer {
	// position: fixed;
	// bottom: 55px;
	// max-width: 900px;
 // }
.in-footer {
	background-color: $dark-blue;
	border: 1px solid $flo-blue;
	margin-bottom: 1em;
	-webkit-box-shadow: 0 0 17px 0 #000;
	-moz-box-shadow: 0 0 17px 0 #000;
	box-shadow: 0 0 17px 0 #000;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/*
 * p tag in footer given margin and center aligned
 */
.in-footer p {
	margin: .5em 0;
	text-align: center;
}
/*
 * link tag in footer recoloured
 */
.in-footer a {
	color: #fff;
}

/******** Responsive Media Queries ********/

[class*="small-"] {
	width: 100%;
}

/* 
 * Used in viewports from 0px
 * mobile
 */
@media only screen and (min-width: 0px) {
	.small-1 {
		width: 8.333%;
	}
	.small-2 {
		width: 16.666%;
	}
	.small-3 {
		width: 25%;
	}
	.small-4 {
		width: 33.333%;
	}
	.small-5 {
		width: 41.666%;
	}
	.small-5-5 {
		width: 49.555%;
	}
	.small-6 {
		width: 50%;
	}
	.small-7 {
		width: 58.333%;
	}
	.small-8 {
		width: 66.666%;
	}
	.small-9 {
		width: 75%;
	}
	.small-10 {
		width: 83.333%;
	}
	.small-11 {
		width: 91.666%;
	}
	.small-12 {
		width: 100%;
	}
	.small-hidden {
		display: none;
	}
}

/* 
 * Used in viewports from 738px
 * (tablets)
 */
@media only screen and (min-width: 738px) {
	.med-1 {
		width: 8.333%;
	}
	.med-2 {
		width: 16.666%;
	}
	.med-3 {
		width: 25%;
	}
	.med-4 {
		width: 33.333%;
		display: block;
	}
	.med-5 {
		width: 41.666%;
	}
	.med-5-5 {
		width: 49.555%;
	}
	.med-6 {
		width: 50%;
	}
	.med-7 {
		width: 58.333%;
	}
	.med-8 {
		width: 66.666%;
	}
	.med-9 {
		width: 75%;
	}
	.med-10 {
		width: 83.333%;
	}
	.med-11 {
		width: 91.666%;
		display: block;
	}
	.med-12 {
		width: 100%;
		display: block;
	}
	// increases size of font in the panel
	// for tablet
	.large-panel {
		font-size: .9rem;
	}
	// increases size of heading for tablet
	.large-panel h4 {
		font-size: 1rem;
	}
	// Reduces bottom margin in both main div
	// and main project div
	.in {
		margin: 0 2em;
	}
	.lpg {
		margin-bottom: 1.3em;
	}
	// removes border of secondary div for tablet
	.within-info {
		border-left: 0;
	}
	.med-hidden {
		display: none;
	}
	.med-show {
		display: block;
	}
	// removes body padding for tablet
	body {
		padding-bottom: 0;
	    max-width: 640px;
	}
	// allows navigation overflow for tablet
	nav {
    	overflow: visible;
	}
	//  reduces the width on navigation on tablet
	ul.med-left, ul.med-right {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    width: 10%;
	    background-color: #f1f1f1;
	    position: fixed;
	    overflow: hidden;
	    bottom: 0;
	}
	// moves first section of nav
	// to the left for tablet
	ul.med-left {
		left: 0;
	}
	// moves second section of nav
	// to the right for tablet
	ul.med-right {
		right: 0;
	}
	// removes bottom item border for tablet
	ul li {
		border-bottom: 1px solid #aaa;
	}
	// removes last item in lists
	// border and radius for tablet
	ul li:last-child {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: none;
	}
	// adds padding for item lin for tablet
	li a {
	    color: #000;
	    padding: 30px 0;
	    text-decoration: none;
	}
	// increases font size for tablet
	h1 {
		font-size: 5em
	}
	// removes break line on tablet
	hr.home {
		display: none;
	}
	//  reduces size of image on tablet
	img {
		max-width: 80%;		
	}
	// reduces size of form img even more on tablet
	img.form {
		max-width: 50% !important;
	}
	p.skill {
		font-size: 1.06em;
	}
}

/* 
 * Used in viewports from 890px
 * (Large Tablets)
 */
@media only screen and (min-width: 920px) {
	body {
	    max-width: 780px;
	}
	p.skill {
		font-size: 1.3em;
	}
}

/* 
 * Used in viewports from 1177px
 * (desktop)
 */
@media only screen and (min-width: 1177px) {
	.large-1 {
		width: 8.333%;
	}
	.large-2 {
		width: 16.666%;
	}
	.large-3 {
		width: 25%;
		display: block;
	}
	.large-4 {
		width: 33.333%;
		display: block;
	}
	.large-5 {
		width: 41.666%;
	}
	.large-5-5 {
		width: 49.555%;
	}
	.large-6 {
		width: 50%;
	}
	.large-7 {
		width: 58.333%;
	}
	.large-8 {
		width: 66.666%;
	}
	.large-9 {
		width: 75%;
	}
	.large-10 {
		width: 83.333%;
	}
	.large-11 {
		width: 91.666%;
		display: block;
	}
	.large-12 {
		width: 100%;
		display: block;
	}
	// increases size of font in the panel
	// for tablet
	.large-panel {
		font-size: .9rem;
	}
	// increases size of heading for desktop
	.large-panel h4 {
		font-size: 1rem;
	}
	.large-hidden {
		display: none;
	}
	// Reduces bottom margin in both main div
	// and main project div
	.in {
		margin: 0 2em;
	}
	.lpg {
		margin-bottom: 1.3em;
	}
	// removes border of secondary div for desktop
	.within-info {
		border-left: 0;
	}
	// removes body padding for desktop
	body {
		padding-bottom: 0;
    	max-width: 900px;
	}
	// allows navigation overflow for desktop
	nav {	
		width: 10% !important;
		left: 0;
		height: 100%;
		position: fixed;
		overflow: hidden;	
	}
	//  reduces the width on navigation on desktop
	ul.med-left, ul.med-right {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    width: 10%;
	    background-color: #f1f1f1;
	    position: fixed;
	    overflow: hidden;
	    left: 0;
	}
	// moves first section of nav
	// above the second section on the left for desktop
	ul.med-left {
	    bottom: 151px;
	}
	// moves second section of nav
	// below the first section on the left for desktop
	ul.med-right {
		bottom: 0;
	} 
	// removes last item in lists
	// border and radius for desktop
	ul.med-right li:last-child, ul.med-left li:last-child {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: none;
	}
	// adds last item in lists
	// border and for desktop
	ul.med-left li:last-child {
	    border-bottom: 1px solid #aaa;
	}
	li a {
		// adds padding for item lin for desktop
	    display: block;
	    color: #000;
	    padding: 30px 0;
	    text-decoration: none;
	}
	// increases font size for desktop
	h1 {
		font-size: 5em
	}
	// removes break line on desktop
	hr.home {
		display: none;
	}
	//  reduces size of image on desktop
	img {
		max-width: 80%;	
	}
	// reduces size of form img even more on desktop
	img.form {
		max-width: 50% !important;
	}
	.large-show {
		display: block;
	}
	.leftcolumn {
		margin-right: .5em;
	}
	.rightcolumn {
		margin-left: .5em;
	}
	p.skill {
		font-size: 1.3em;
	}
}

